<% provide(:title, 'Home') %>
<h1>kTweet!</h1>
<p>
  This is the home page for kTweet!
  <a href="http://smooth-mountain-9532.herokuapp.com">kTweet! Home</a>
</p>

<%= link_to "Sign up now!", signup_path, class: "signup_button round" %>
